h1 {
    display:flex;
    justify-content:center;
    color:#D7CEC7;
}

body {
    background-color:#565656;
}

button {
    background-color:#76323F;
    color:#D7CEC7;
}

p {
    color:#D7CEC7;
    display: flex;
    justify-content: center;
}

.mainContent {
    display: flex;
    justify-content: center;
}

.container {
    display:flex;
    flex-direction: column;
    align-items: space-between;
}

.board {
    width:500px;
    height:500px;
    display:grid;
    border:1px solid #000;
    margin-left: 150px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.grid {
    margin:0;
    padding:0;
}

.buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

button {
    margin:6px;
}

.slideContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}
