html {
    height:100%;
    background-color:#fffc99;
    background-image:
    radial-gradient(at 77% 61%, hsla(246,68%,71%,1) 0px, transparent 50%),
    radial-gradient(at 13% 90%, hsla(82,73%,78%,1) 0px, transparent 50%),
    radial-gradient(at 21% 92%, hsla(230,71%,68%,1) 0px, transparent 50%),
    radial-gradient(at 73% 9%, hsla(344,74%,61%,1) 0px, transparent 50%),
    radial-gradient(at 29% 67%, hsla(332,91%,67%,1) 0px, transparent 50%),
    radial-gradient(at 19% 12%, hsla(282,64%,60%,1) 0px, transparent 50%),
    radial-gradient(at 95% 94%, hsla(69,81%,62%,1) 0px, transparent 50%);
}

body {  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    display:flex;
    justify-content:center;
    color:#D7CEC7;
}

p {
    color:#D7CEC7;
    display: flex;
    justify-content: center;
}

button {
    background-color:#76323F;
    color:#D7CEC7;
    margin:6px;
}

.mainContent {
    display: flex;
    justify-content: center;
}

.container {
    display:flex;
    flex-direction: column;
    align-items: space-between;
}

.board {
    width:500px;
    height:500px;
    display:grid;
    border:1px solid #000;
    margin-left: 150px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.grid {
    margin:0;
    padding:0;
}

.buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.slideContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}
