h1 {
    display:flex;
    justify-content: center;
}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
}


.board {
    width:500px;
    height:500px;
    display:grid;
    border:1px solid #000;
}

.grid {
    margin:0;
    padding:0;
}

